* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(19, 71, 150);
}

a, button{
    font-family: "Monserrat", sans-serif;
    color: white;
    text-decoration: none;
}