* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}
a, button{
    font-family: "Monserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.bg_img {
    background-image: url(img/wallpaperflare.com_wallpaperOscuri.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    
}
.logo{
    cursor: pointer;
    margin-right: auto;
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 1;/* Para que el logo esté por encima de la imagen del encabezado */
}

button{
    padding: 9px 25px;
    background-color: rgb(211, 211, 219);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(29, 150, 140);
}


.wrapper {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
}

.card > .row {
    color: rgb(82, 65, 238);
    display: flex;
    flex-wrap: nowrap;
}

.card > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.card > .row > .icon {
    background: #223;
    color: white;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    visibility: hidden;
}
.description p {
    color: #b0b0ba;
    padding-top: 5px;
}

.description h4 {
    text-transform: uppercase;
}

input {
    display: none;
}

input:checked + label {
    width: 600px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.card[for="c1"] {
    background-image: url('./img/personajes.webp');
}
.card[for="c2"] {
    background-image: url('./img/locaclizaciones.jpg');
}
.card[for="c3"] {
    background-image: url('./img/banderas.jpg');
}
.card[for="c4"] {
    background-image: url('./img/barco.jpg');
}
.card[for="c5"] {
    background-image: url('./img/armas.jpg');
}
.card[for="c6"] {
    background-image: url('./img/Fruta_del_diablo.webp');
}
.card[for="c7"] {
    background-image: url('./img/Diales.webp');
}
.card[for="c8"] {
    background-image: url('./img/hakis.jpg');
}

/* 
Login
*/
.logCont{
    display: none;
}
.login-form {
    width: 300px;
    padding: 20px;
    background-color:  rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    color: #000000; 

}
.login-form label,
.login-form input {
    display: block;
    margin-bottom: 10px;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.login-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}