body, html {
    height: 100%;
    margin: 0;
}

.bg_img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('tu-imagen-aqui.jpg'); /* Reemplaza con tu imagen */
}

#contenedorChat {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 400px;
    background-color: white;
    border: 1px solid #000;
    z-index: 1000;
    display: none;
}

#mensajes {
    height: 80%;
    overflow-y: auto;
}

.chatOculto {
    display: none;
}

.chatVisible {
    display: block;
}



/* .container {
    display: flex;
    justify-content: center;
    gap: 10px;
   
}

.card {
    flex: 1;
    
}

.card label {
    display: block;
    width: 100%;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
       
    }
}

.contenedor {
    display: flex;
    background-color: black;
}

.card {
    width: 50%;
    position: relative;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.description {
    padding: 10px;
}

.description h4 {
    margin: 0;
}

.description a {
    display: block;
    text-align: center;
} */