body {
    background-color: #007bff;
}

.titulo-registro {
    display: inline-block;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 35%;
    align-items: center;
}

/* 
Personaje
*/

#personaje-det {

    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    color: #000000;
    margin: auto;
}

a.button {
    margin-left: 35%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

a.button:hover {
    background-color: #0056b3;
}

a.button:focus {
    outline: none;
}

a.button:active {
    background-color: #003366;
}